@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, DungGeunMo, sans-serif;
  background-image: url("/image/back2.png");
  background-size: cover;
  background-position: center;
}

.show-background {
  background-image: url("/image/back2.png");
  background-size: cover;
  background-position: center;
}

.hide-background {
  background-image: none;
}

@font-face {
  font-family: "DungGeunMo";
  font-weight: 200;
  src: url("/fonts/DungGeunMo.ttf") format("truetype");
}

@layer utilities {
  .bg-translucent-green {
    background-color: rgba(0, 255, 0, 0.5); /* 반투명 초록색 */
  }

  .glow {
    box-shadow: 0 0 10px 5px rgba(0, 255, 0, 0.7); /* 빛나는 효과 */
  }

  .glow-hover:hover {
    box-shadow: 0 0 20px 10px rgba(0, 255, 0, 1); /* 호버 시 더 강한 빛나는 효과 */
  }
}
